.terms_of_use {
	h1 {
		margin-top: 20px;
	}

	.container {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	
	h2 {
		text-align: left;
		margin-top: 30px;
		margin-bottom: 15px;
	}
}